doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/form.css')
        link(rel='stylesheet', href='/stylesheets/userFeedback.css')
        script(src='/javascripts//common/jquery-2.1.1.min.js')
        script(src='/javascripts/userFeedback.js')
    body.ui-page
        h1 用户反馈list
        ul.feedbackList#feedback-wrap

